.usuario-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  .titulo {
    margin-left: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border:1px solid #ccc;
    padding:10px;
  }
  
  .botao-container {
    text-align: center;
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  h3 {
    color: #006699;
    margin-top: 20px;
    margin-bottom: 0;
    border-top:1px solid  #ccc;
    border-left:1px solid  #ccc;
    border-right:1px solid  #ccc;;
    padding-left:10px;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left:20px;
  }
  
  .breadcrumb ol {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb li {
    margin-right: 8px; /* Espaçamento entre itens */
  }
  
  .breadcrumb li::after {
    content: "›"; /* Separador */
    margin-left: 8px;
    color: #666;
  }
  
  .breadcrumb li:last-child::after {
    content: ""; /* Remove o separador do último item */
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: #333;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb .active {
    color: #006699;
    font-weight: bold;
  }

  h3
  {
    background-color: #f4f4f4;
  }

  .botao-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px; 
  }
  
  button mat-icon {
    margin-right: 4px; 
  }
  