<div class="container">
  <nav class="breadcrumb">
    <ol>
      <li><a routerLink="/">Home</a></li>
      <li class="active">Produtos</li>
    </ol>
  </nav>
  
  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="th-icon">
        <button mat-icon-button color="primary" (click)="insert()">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let record">
        <div class="center"> 
          <button mat-icon-button color="primary" (click)="edit(record.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(record.id)">
            <mat-icon>delete</mat-icon>
          </button>
         </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let record"> {{ record.id }} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let record"> {{ record.title }} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let record"> {{ record.category }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
